modules = ["nodejs-22", "web"]

[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["haskellPackages.servant-multipart-client", "rubyPackages.listen", "certbot", "dig", "nginxShibboleth", "python313Packages.httpie", "nginx", "lsof"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "npx hardhat node"
mode = "sequential"
author = 53897991

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx hardhat node --port 8080"

[[workflows.workflow]]
name = " run dev"
mode = "sequential"
author = 53897991

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 80
externalPort = 4200

[[ports]]
localPort = 443

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
API_KEY = "AIzaSyARryQpcyRRNNPWA1sl1KIIZzrElzOkfNU"
